*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-container{
    height: 100vh;
    background-color: #ffb457;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar-wrapper{
    position: relative;
    width: 700px;
    height: 60px;
    background-color: red;
}
.bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: inherit;
    width: inherit;
    background-color: #1d1d27;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.highlighter{
    position: absolute;
    width: 120px;
    height: 85px;
    background-color: #1d1d27;
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
    z-index: 1;
    top: -30px;
    left: 0;
    margin-left: 10px;
    transition: margin-left 1.5s ease-in-out;
}


.menu{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    border-radius: 50%;
    margin-top: 0;
    transition: width 1.5s ease-in-out, height 1.5s ease-in-out, margin-top 1.5s ease-in-out;
}
.menu svg *{
    pointer-events: none;
}
.menu-1{
    width: 60px;
    height: 60px;
    margin-top: -27px;
}
.menu-1 .halo{
    background-color: #ff8c00;
    width: 60px;
    height: 60px;
}
.halo{
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: width 1.5s ease-in-out, height 1.5s ease-in-out;
    border-radius: 50%;
}

@keyframes animateMe {
    0%{
        margin-left: 10px;
    }
}